In [3]:
import pandas as pd

In [9]:
path = '/Users/lucia/phd_work/cognitive_distortion/'
#path = '/home/lucia/phd_work/mypersonality_data/cognitive_distortion/'
select = pd.read_csv(path + '/data/important_data/twoM_newLabels80P.csv')
newLabels = pd.read_csv(path + '/data/important_data/allLabelsClean.csv')

In [10]:
newLabels = newLabels[['id','negative_ny']]
newLabels

        id  negative_ny
0     1177            1
1     1703            1
2     1690            1
3     1694            1
4     1651            1
5     1657            1
6     1742            1
7     1702            1
8      161            1
9     1714            1
10    1733            1
11    1678            1
12    1707            1
13    1663            1
14    1711            1
15    1715            1
16    1717            1
17    1680            1
18    1660            1
19    1683            1
20    1684            1
21    1658            1
22    1654            1
23    1669            1
24    1738            1
25    1691            1
26    1716            1
27    1712            1
28    1696            1
29    1664            1
...    ...          ...
4124   211            4
4125   204            4
4126   228            4
4127   239            4
4128   230            4
4129   238            4
4130   205            4
4131   212            4
4132   217            4
4133   240            4
4134  3925            4
4135  3369            4
4136  3706            4
4137   233            4
4138  3858            4
4139  3762            4
4140   403            4
4141  3992            4
4142  3943            4
4143  3727            4
4144  3305            4
4145  3948            4
4146  3219            4
4147  3410            4
4148   210            4
4149  3170            4
4150   137            4
4151  2967            1
4152   153            4
4153  3243            2

[4154 rows x 2 columns]